@function rem($px) {
    @return $px/108px*1rem;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.warp {
    width: 100%;
    //height: rem(7000px);
    height: auto;
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        width: 100%;
        height: rem(184px);
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
        background: #fff;
        .h-anniu {
            flex: 0.5;
            height: rem(54px);
            margin-left: rem(45px);
            // margin-top: rem(62px);
            i {
                font-size: rem(54px);
                color: #bcc6ce;
            }
        }
        .h-logo {
            flex: 2;
            height: rem(184px);
            margin-top: rem(20px);
            a {
                img {
                    width: 100%;
                }
            }
        }
        .h-fd {
            flex: 0.5;
            height: rem(54px);
            margin-left: rem(110px);
            i {
                font-size: rem(52px);
                color: #bcc6ce;
            }
        }
    }
    // main 开始
    .main {
        width: 100%;
        height: rem(5550px);
        margin-top: rem(180px);
        .m-lb {
            overflow: hidden;
            width: 100%;
            height: rem(448px);
            background: #ddd;
            position: relative;
            /* >ul {
                >li {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: rem(448px);
                    img {
                        width: 100%;
                        height: rem(448px);
                    }
                }
            }
            >ol {
                position: absolute;
                bottom: rem(-350px);
                left: rem(400px);
                li {
                    float: left;
                    width: rem(32px);
                    height: rem(32px);
                    border-radius: 50%;
                }
            } */
            .l-left {
                position: absolute;
                top: rem(200px);
                left: rem(46px);
                width: rem(47px);
                height: rem(47px);
                i {
                    font-size: rem(75px);
                    color: #bec6cc;
                }
            }
            .l-right {
                position: absolute;
                top: rem(200px);
                right: rem(70px);
                width: rem(47px);
                height: rem(47px);
                i {
                    font-size: rem(75px);
                    color: #bec6cc;
                }
            }
        }
        // 轮播图结束
        .m-mr {
            width: 100%;
            margin-top: rem(80px);
            height: auto;
            h1 {
                font-size: rem(68px);
                color: #485465;
                font-weight: 600;
                margin-bottom: rem(68px);
            }
            .m-list {
                margin: 0 auto;
                width: 100%;
                overflow: hidden;
                >ul {
                    width: 100%;
                    height: auto;
                    >li {
                        display: flex;
                        align-content: center;
                        width: 100%;
                        height: rem(215px);
                        border: 1px dotted #ddd;
                        margin-bottom: rem(25px);
                        padding: rem(20px) 0;
                        a {
                            display: block;
                            img {
                                width: rem(339px); //100%;
                                height: rem(213px);
                            }
                        }
                        & a:last-child {
                            display: block;
                            height: rem(48px);
                            color: #6c6c6c;
                            font-size: rem(48px);
                            white-space: wrap;
                            h3 {
                                padding-left: rem(34px);
                                margin-top: rem(30px);
                            }
                        }
                    }
                }
            }
        }
        // 每日新鲜结束
        .m-xx {
            display: flex;
            width: 76%;
            height: auto;
            margin-top: rem(41px);
            justify-content: space-between;
            flex-wrap: wrap;
            .xx-k {
                width: 40%;
                height: rem(159px);
                border: 1px solid #f3f3f3;
                font-size: rem(55px);
                color: #7e7e7e;
                border-radius: rem(15px);
                background: #fff;
                text-align: center;
                line-height: rem(159px);
                margin-bottom: rem(13px);
                margin-left: rem(70px);
                a {
                    font-size: rem(55px);
                    color: #7e7e7e;
                }
            }
        }
        //展示部分start
        .m-zs {
            margin: 0 auto;
            width: 100%;
            height: auto;
            margin-top: rem(65px);
            .zsk {
                margin: 0 auto;
                width: 95%;
                height: rem(930px);
                a {
                    position: relative;
                    margin: 0 auto;
                    display: block;
                    width: 90%;
                    height: rem(602px);
                    background: url("../indeximages/1.png") repeat;
                    opacity: 0.8;
                    img {
                        width: 100%;
                        height: rem(602px);
                    }
                    .sheji {
                        position: absolute;
                        top: rem(15px);
                        left: rem(30px);
                        width: 15%;
                        height: rem(84px);
                        line-height: rem(84px);
                        text-align: center;
                        border-radius: 42%;
                        background: #d0c0a4;
                        opacity: 0.5;
                    }
                }
                .wzk {
                    margin: 0 auto;
                    width: 90%;
                    border: 1px solid #f2f2f2;
                    border-top: none;
                    margin-top: rem(77px);
                    padding-bottom: rem(36px);
                    h3 {
                        font-size: rem(44px);
                        color: #0c0c0c;
                        padding-left: rem(48px);
                        padding-right: rem(83px);
                    }
                    .k-ly {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        height: rem(44px);
                        font-size: rem(28px);
                        color: #bac6cd;
                        margin-top: rem(77px);
                        .ly1 {
                            width: 30%;
                            height: rem(44px);
                            margin-left: rem(56px);
                            i {
                                font-size: rem(44px);
                                color: #bac6cd;
                            }
                        }
                        .ly2 {
                            font-size: rem(28px);
                            color: #bac6cd;
                            letter-spacing: rem(8px);
                        }
                    }
                }
            }
        }
        //展示部分end
        .yema {
            width: 20%;
            height: rem(87px);
            margin: 0 auto;
            font-size: rem(36px);
            color: #34b400;
            line-height: rem(87px);
            text-align: center;
            margin-top: rem(60px);
            border-radius: rem(20px);
            border: 1px solid #c2ccd4;
        }
    }
    //main结束
    .footer {
        width: 100%;
        height: auto;
        border-top: 2px solid #cbcbcb;
        .footer1 {
            width: 100%;
            height: auto;
            h1 {
                margin-top: rem(63px);
                text-align: center;
                font-size: rem(58px);
                color: #4b4b4b;
                font-weight: bold;
                margin-bottom: rem(58px);
            }
            .f1 {
                width: 100%;
                margin: 0 auto;
                height: auto;
                ul {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    margin-bottom: rem(43px);
                    a {
                        display: block;
                        li {
                            font-size: rem(40px);
                            color: #767676;
                            margin-right: rem(20px);
                        }
                    }
                }
            }
            >p {
                text-align: center;
                font-size: rem(26px);
                color: #767676;
                margin-bottom: rem(43px);
            }
        }
        .footer2 {
            width: 100%;
            height: rem(121px);
            text-align: center;
            font-size: rem(34px);
            color: #767676;
            line-height: rem(121px);
            border-top: 1px solid #cbcbcb;
        }
    }
}

.active {
    background: red;
}
