.warp {
  width: 100%;
  height: auto;
}

.warp .header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 1.7037rem;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

.warp .header .h-anniu {
  flex: 0.5;
  height: 0.5rem;
  margin-left: 0.41667rem;
}

.warp .header .h-anniu i {
  font-size: 0.5rem;
  color: #bcc6ce;
}

.warp .header .h-logo {
  flex: 2;
  height: 1.7037rem;
  margin-top: 0.18519rem;
}

.warp .header .h-logo a img {
  width: 100%;
}

.warp .header .h-fd {
  flex: 0.5;
  height: 0.5rem;
  margin-left: 1.01852rem;
}

.warp .header .h-fd i {
  font-size: 0.48148rem;
  color: #bcc6ce;
}

.warp .mainup {
  position: relative;
  margin-top: 1.66667rem;
  width: 100%;
  height: 16.65741rem;
}

.warp .mainup .u-k {
  display: flex;
  width: 45%;
  height: 1.78704rem;
  margin: 1.48148rem 0 0 5.05556rem;
  justify-content: space-between;
  overflow: hidden;
}

.warp .mainup .u-k .blue {
  width: 40%;
  height: 1.78704rem;
  line-height: 1.78704rem;
  background-size: 100%;
  background: url("../listimages/1.png") no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.warp .mainup .u-k .blue span {
  font-size: 0.41667rem;
  font-weight: bold;
  color: #fff;
}

.warp .mainup .u-k .blue p {
  font-size: 0.2963rem;
  width: 30%;
  height: 0.2963rem;
  background: red;
}

.warp .mainup .u-k .red {
  width: 40%;
  height: 1.78704rem;
  line-height: 1.78704rem;
  background-size: 100%;
  background: url("../listimages/2.png") no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.warp .mainup .u-k .red span {
  font-size: 0.41667rem;
  font-weight: bold;
  color: #fff;
}

.warp .mainup .u-k .red p {
  font-size: 0.2963rem;
  width: 50%;
  height: auto;
}

.warp .mainup .uplbk {
  width: 100%;
  height: 12.26852rem;
  background: #f1f4f6;
}

.warp .mainup .uplbk h1 {
  margin-left: 0.33333rem;
  font-size: 0.5rem;
  color: #474e57;
  font-weight: bold;
  margin-bottom: 0.57407rem;
}

.warp .mainup .uplbk .uplb {
  width: 100%;
  height: 9.81481rem;
  background: pink;
  position: relative;
}

.warp .mainup .uplbk .uplb ul {
  margin: 0 auto;
  width: 90%;
  height: 8.24074rem;
}

.warp .mainup .uplbk .uplb ul li {
  background: #fff;
  width: 100%/6;
  height: 8.46296rem;
}

.warp .mainup .uplbk .uplb ul li a img {
  width: 100%;
  height: 4.34259rem;
}

.warp .mainup .uplbk .uplb ul li a h3 {
  font-size: 0.44444rem;
  color: #212121;
  line-height: 0.44444rem;
  margin: 0.78704rem 0 1.81481rem 0.2963rem;
}

.warp .mainup .uplbk .uplb ul li a .uppl {
  height: 0.39815rem;
  font-size: 0.38889rem;
  color: #bcc7cc;
  margin-left: 0.2963rem;
}

.warp .mainup .uplbk .uplb ul li a .uppl span:nth-child(1) {
  margin-right: 3.14815rem;
}

.warp .mainup .uplbk .uplb ul li a .uppl span:nth-child(1) i {
  font-size: 0.38889rem;
}

.warp .mainup .uplbk .uplb ol {
  clear: both;
  display: flex;
  justify-content: center;
  margin-top: 0.55556rem;
}

.warp .mainup .uplbk .uplb ol li {
  width: 2%;
  height: 0.27778rem;
  border-radius: 50%;
  margin-right: 0.23148rem;
  background: #c1c4c4;
}

.warp .maindown {
  margin-top: 0.82407rem;
  width: 100%;
  height: auto;
  background: #fff;
}

.warp .maindown .m-xx {
  display: flex;
  height: auto;
  width: 100%;
  margin-left: 0.50926rem;
}

.warp .maindown .m-xx li {
  font-size: 0.33333rem;
  padding: 0.2963rem;
  background: #fff;
  border-radius: 0.18519rem;
  margin-right: 0.18519rem;
  border: 1px solid #e8ecf0;
}

.warp .maindown .m-xx li a {
  color: #8c92a1;
}

.warp .maindown .m-list {
  width: 100%;
  height: auto;
}

.warp .maindown .m-list .l-kk {
  width: 95%;
  height: auto;
  display: flex;
  padding-top: 0.7037rem;
  padding-bottom: 1.03704rem;
  border-bottom: 1px dotted #d3d6da;
}

.warp .maindown .m-list .l-kk a {
  width: 55%;
  display: block;
  margin-left: 0.49074rem;
}

.warp .maindown .m-list .l-kk a img {
  width: 100%;
  height: 1.87037rem;
}

.warp .maindown .m-list .l-kk h3 {
  margin-left: 0.58333rem;
  margin-top: 0.18519rem;
  font-size: 0.44444rem;
}

.warp .maindown .yema {
  width: 20%;
  height: 0.80556rem;
  margin: 0 auto;
  font-size: 0.33333rem;
  color: #34b400;
  line-height: 0.80556rem;
  text-align: center;
  margin-top: 0.55556rem;
  border-radius: 0.18519rem;
  border: 1px solid #c2ccd4;
  margin-bottom: 0.87963rem;
}

.warp .footer {
  width: 100%;
  height: auto;
  border-top: 2px solid #cbcbcb;
}

.warp .footer .footer1 {
  width: 100%;
  height: auto;
}

.warp .footer .footer1 h1 {
  margin-top: 0.58333rem;
  text-align: center;
  font-size: 0.53704rem;
  color: #4b4b4b;
  font-weight: bold;
  margin-bottom: 0.53704rem;
}

.warp .footer .footer1 .f1 {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.warp .footer .footer1 .f1 ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 0.39815rem;
}

.warp .footer .footer1 .f1 ul a {
  display: block;
}

.warp .footer .footer1 .f1 ul a li {
  font-size: 0.37037rem;
  color: #767676;
  margin-right: 0.18519rem;
}

.warp .footer .footer1 > p {
  text-align: center;
  font-size: 0.24074rem;
  color: #767676;
  margin-bottom: 0.39815rem;
}

.warp .footer .footer2 {
  width: 100%;
  height: 1.12037rem;
  text-align: center;
  font-size: 0.31481rem;
  color: #767676;
  line-height: 1.12037rem;
  border-top: 1px solid #cbcbcb;
}

.upbj {
  width: 100%;
  height: 4.35185rem;
  background: url("../listimages/bj.jpg") no-repeat;
  background-position: left top;
  background-size: 100%;
  overflow: hidden;
}

.active {
  background: red;
}
